PORT="8080"
NODE_ENV="development"


#Database
DB_URL="postgres://postgres:postgres@localhost:5432/chatiks?sslmode=disable"
CLIENT="pg"

#Docker compose pg variables
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="chatiks"

#jwt
JWT_SECRET=""
JWT_ISSUER="chaticks"
EXPIRES_IN="3600"
